@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap");
@import "../../node_modules/bootstrap/scss/functions";

$main: #040211;
$second: #ff3e30;
$tertiary: #b1b6b6;

$primary: tint-color($main, 10%);
$secondary: tint-color($second, 20%);
$light: tint-color($tertiary, 60%);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
